{% extends "base.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-6 mb-5 order-0">
      <div class="card">
        <div class="d-flex align-items-end row">
          <div class="col-sm-7">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Overview 🎉</h5>
              <p class="mb-4">
                This project aims to identify trends and patterns in viewer preference and in-depth genre</p>

              <!-- <a href="javascript:;" class="btn btn-sm btn-outline-primary">View Badges</a> -->
            </div>
          </div>
          <div class="col-sm-5 text-center text-sm-left">
            <div class="card-body pb-0 px-0 px-md-4">
              <img
                src="{{ url_for('static', filename='assets/img/illustrations/man-with-laptop-light.png')}}"
                height="140"
                alt="View Badge User"
                data-app-dark-img="illustrations/man-with-laptop-dark.png"
                data-app-light-img="illustrations/man-with-laptop-light.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 mb-4">
      <div class="card">
        <div class="d-flex align-items-end row">
          <!-- <div class="col-8"> -->
          <div class="" style="height: 175px;">
            <div class="card-body text-center">
              <br>
              <br>
              <h3 class="card-title text-primary">IMDB Top 1000 Dashboard</h3>
              <!-- <p>This project aims to identify trends and patterns in viewer preference and in-depth genre</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      <!--/ New Visitors & Activity -->
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <div class="row">
            <div class="col-lg-6 col-md-3 col-6 mb-4">
              <div class="card">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                      <div class="flex-shrink-0">
                        <b>
                          <h5>Average IMBD <br> Rating</h5>
                        </b>
                      </div>
                    </div>
                    <h3 class="fw-medium d-block mb-1"><span style="color: rgb(175, 175, 24);">★</span> {{ average_gross
                      }}</h3>
    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-3 col-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="flex-shrink-0">
                      <b>
                        <h5>Average Meta <br> Score</h5>
                      </b>
                    </div>
                  </div>
                  <h3 class="fw-medium d-block mb-1"><span style="color: rgb(175, 175, 24);">✺</span> {{ average_gross }}
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-3 col-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="flex-shrink-0">
                      <b>
                        <h5>Average Runtime</h5>
                      </b>
                    </div>
                  </div>
                  <h3 class="fw-medium d-block mb-1"><span style="color: rgb(175, 175, 24);">🕓</span> {{ average_gross }}
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-3 col-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="flex-shrink-0">
                      <b>
                        <h5>Average Gross</h5>
                      </b>
                    </div>
                  </div>
                  <h3 class="fw-medium d-block mb-1">💲 {{ average_gross }}</h3>
    
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Total Income -->
        <div class="col-md-12 col-lg-8 mb-4 p-0 card">

                <div class="card-body">
                  <div id="trend1_plot" style="height: 250px;"></div>
                  <script>
                    // Retrieve the Plotly chart JSONs from the Flask routes
                    var trend1_plot = {{ trend1_plot | safe }};
                    Plotly.newPlot('trend1_plot', trend1_plot.data, trend1_plot.layout);
                </script>            
          </div>
          <!--/ Total Income -->
        </div>
        <!--/ Total Income -->
      </div>
      
    <!-- New Visitors & Activity -->
    <div class="row">
      
      <div class="col-lg-12 col-md-12 order-1">
        <div class="row">
          <div class="col-3 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <div class="flex-shrink-0">                    
                <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> Highest grossing <br> movie:</small>
                     <b>  </b>
                  </div>
                  <div class="dropdown">
                  </div>
                </div>
                <span class="card-title mb-2">{{ highest_grosing_movie_row['Series_Title'] }}</span>
                
                <span class="fw-medium d-block mb-1">${{ highest_grosing_movie_row['Gross'] }}</span>
                <!-- <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +72.80%</small> -->
              </div>
            </div>
          </div>
          <div class="col-3 mb-4">
            <div class="card">
              <div class="card-body" style="height: 180px;">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <div class="flex-shrink-0">                    
                <small class="text-danger fw-medium"><i class="bx bx-down-arrow-alt"></i> Lowest grossing <br> movie:</small>
                     <b>  </b>
                  </div>
                  <div class="dropdown">
                  </div>
                </div>
                <span class="card-title mb-2">{{ lowest_grosing_movie_row['Series_Title'] }}</span>
                
                <span class="fw-medium d-block mb-1">${{ lowest_grosing_movie_row['Gross'] }}</span>
              </div>
            </div>
          </div>
            <div class="col-3 mb-4">
              <div class="card" style="height: 180px;">
                <div class="card-body">
                  <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="flex-shrink-0">                    
                  <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> Highest IMBD Rated <br> Movie:</small>
                       <b>  </b>
                    </div>
                    <div class="dropdown">
                    </div>
                  </div>
                  <span class="card-title mb-2">{{ highest_rated_movie_row['Series_Title'] }}</span>
                  
                  <span class="fw-medium d-block mb-1"><span style="color: rgb(175, 175, 24);"> ★ </span> {{ highest_rated_movie_row['IMDB_Rating'] }}</span>
                  <!-- <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +72.80%</small> -->
                </div>
              </div>
            </div>
            <div class="col-3 mb-4">
              <div class="card" style="height: 180px;">
                <div class="card-body">
                  <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="flex-shrink-0">                    
                  <small class="text-danger fw-medium"><i class="bx bx-down-arrow-alt"></i> Lowest Rated IMDB <br> movie:</small>
                       <b>  </b>
                    </div>
                    <div class="dropdown">
                    </div>
                  </div>
                  <span class="card-title mb-2">{{ lowest_rated_movie_row['Series_Title'] }}</span>
                  
                  <span class="fw-medium d-block mb-1"><span style="color: rgb(175, 175, 24);"> ★ </span>{{ lowest_rated_movie_row['IMDB_Rating'] }}</span>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- Total Revenue -->
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </div>

  <div class="row">

        <!-- Transactions -->
        <div class="col-md-6 col-lg-6 order-2 mb-4" style="height: 480px;">
          <div class="card">
            <div class="card-body px-0">
            <div id="doughnut-chart"></div>
    
                <script>
                    // Retrieve the Plotly chart JSON from the Flask route
                    var doughnut = {{ doughnut | safe }};
            
                    // Render the Plotly chart
                    Plotly.newPlot('doughnut-chart', doughnut.data, doughnut.layout);
                </script>
              </div>
          </div>
        </div>
        <!--/ Transactions -->

    <!-- Expense Overview -->
    <div class="col-6">
      <div class="card">
        <div class="card-body px-0">
          <div id="plotly-chart"></div>  
          <script>
              // Retrieve the Plotly chart JSON from the Flask route
              var plot_json = {{ plot_json | safe }};
      
              // Render the Plotly chart
              Plotly.newPlot('plotly-chart', plot_json.data, plot_json.layout);
          </script> 
        </div>
      </div>
    </div>
    <!--/ Expense Overview -->
  </div>
  <br>

  <div class="row">
    <div class="col-md-6 col-lg-8 mb-4 mb-md-0">
      <div class="card">
        <div class="table-responsive text-nowrap">
          <table class="table text-nowrap">
            <thead>
              <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Payment</th>
                <th>Order Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="../../assets/img/products/oneplus-lg.png" alt="Oneplus" height="32" width="32"
                      class="me-2">
                    <div class="d-flex flex-column">
                      <span class="fw-medium lh-1">OnePlus 7Pro</span>
                      <small class="text-muted">OnePlus</small>
                    </div>
                  </div>
                </td>
                <td><span class="badge bg-label-primary rounded-pill badge-center p-3 me-2"><i
                      class="bx bx-mobile-alt bx-xs"></i></span> Smart Phone</td>
                <td>
                  <div class="text-muted lh-1"><span class="text-primary fw-medium">$120</span>/499</div>
                  <small class="text-muted">Partially Paid</small>
                </td>
                <td><span class="badge bg-label-primary">Confirmed</span></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i
                        class="bx bx-dots-vertical-rounded"></i></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> View
                        Details</a>
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="../../assets/img/products/magic-mouse.png" alt="Apple" height="32" width="32"
                      class="me-2">
                    <div class="d-flex flex-column">
                      <span class="fw-medium lh-1">Magic Mouse</span>
                      <small class="text-muted">Apple</small>
                    </div>
                  </div>
                </td>
                <td><span class="badge bg-label-warning rounded-pill badge-center p-3 me-2"><i
                      class="bx bx-mouse bx-xs"></i></span> Mouse</td>
                <td>
                  <div class="lh-1"><span class="text-primary fw-medium">$149</span></div>
                  <small class="text-muted">Fully Paid</small>
                </td>
                <td><span class="badge bg-label-success">Completed</span></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i
                        class="bx bx-dots-vertical-rounded"></i></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> View
                        Details</a>
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="../../assets/img/products/imac-pro.png" alt="Apple" height="32" width="32" class="me-2">
                    <div class="d-flex flex-column">
                      <span class="fw-medium lh-1">iMac Pro</span>
                      <small class="text-muted">Apple</small>
                    </div>
                  </div>
                </td>
                <td><span class="badge bg-label-info rounded-pill badge-center p-3 me-2"><i
                      class="bx bx-desktop bx-xs"></i></span> Computer</td>
                <td>
                  <div class="text-muted lh-1"><span class="text-primary fw-medium">$0</span>/899</div>
                  <small class="text-muted">Unpaid</small>
                </td>
                <td><span class="badge bg-label-danger">Cancelled</span></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i
                        class="bx bx-dots-vertical-rounded"></i></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> View
                        Details</a>
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="../../assets/img/products/note10.png" alt="Samsung" height="32" width="32" class="me-2">
                    <div class="d-flex flex-column">
                      <span class="fw-medium lh-1">Note 10</span>
                      <small class="text-muted">Samsung</small>
                    </div>
                  </div>
                </td>
                <td><span class="badge bg-label-primary rounded-pill badge-center p-3 me-2"><i
                      class="bx bx-mobile-alt bx-xs"></i></span> Smart Phone</td>
                <td>
                  <div class="lh-1"><span class="text-primary fw-medium">$149</span></div>
                  <small class="text-muted">Fully Paid</small>
                </td>
                <td><span class="badge bg-label-success">Completed</span></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i
                        class="bx bx-dots-vertical-rounded"></i></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> View
                        Details</a>
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="../../assets/img/products/iphone.png" alt="Apple" height="32" width="32" class="me-2">
                    <div class="d-flex flex-column">
                      <span class="fw-medium lh-1">iPhone 11 Pro</span>
                      <small class="text-muted">Apple</small>
                    </div>
                  </div>
                </td>
                <td><span class="badge bg-label-primary rounded-pill badge-center p-3 me-2"><i
                      class="bx bx-mobile-alt bx-xs"></i></span> Smart Phone</td>
                <td>
                  <div class="lh-1"><span class="text-primary fw-medium">$399</span></div>
                  <small class="text-muted">Fully Paid</small>
                </td>
                <td><span class="badge bg-label-success">Completed</span></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i
                        class="bx bx-dots-vertical-rounded"></i></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> View
                        Details</a>
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="../../assets/img/products/mi-tv.png" alt="Xiaomi" height="32" width="32" class="me-2">
                    <div class="d-flex flex-column">
                      <span class="fw-medium lh-1">Mi LED TV 4X</span>
                      <small class="text-muted">Xiaomi</small>
                    </div>
                  </div>
                </td>
                <td><span class="badge bg-label-danger rounded-pill badge-center p-3 me-2"><i
                      class="bx bx-tv bx-xs"></i></span> Smart TV</td>
                <td>
                  <div class="text-muted lh-1"><span class="text-primary fw-medium">$349</span>/2499</div>
                  <small class="text-muted">Partially Paid</small>
                </td>
                <td><span class="badge bg-label-primary">Confirmed</span></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i
                        class="bx bx-dots-vertical-rounded"></i></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> View
                        Details</a>
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="../../assets/img/products/logitech-mx.png" alt="Logitech" height="32" width="32"
                      class="me-2">
                    <div class="d-flex flex-column">
                      <span class="fw-medium lh-1">Logitech MX</span>
                      <small class="text-muted">Logitech</small>
                    </div>
                  </div>
                </td>
                <td><span class="badge bg-label-warning rounded-pill badge-center p-3 me-2"><i
                      class="bx bx-mouse bx-xs"></i></span> Mouse</td>
                <td>
                  <div class="lh-1"><span class="text-primary fw-medium">$89</span></div>
                  <small class="text-muted">Fully Paid</small>
                </td>
                <td><span class="badge bg-label-primary">Completed</span></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i
                        class="bx bx-dots-vertical-rounded"></i></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> View
                        Details</a>
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Total Balance -->
    <div class="col-md-6 col-lg-4">
      <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="card-title m-0 me-2">Total Balance</h5>
          <div class="dropdown">
            <button class="btn p-0" type="button" id="totalBalance" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="bx bx-dots-vertical-rounded"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalBalance">
              <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
              <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
              <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-start">
            <div class="d-flex pe-4">
              <div class="me-3">
                <span class="badge bg-label-warning p-2"><i class="bx bx-wallet text-warning"></i></span>
              </div>
              <div>
                <h6 class="mb-0">$2.54k</h6>
                <small>Wallet</small>
              </div>
            </div>
            <div class="d-flex">
              <div class="me-3">
                <span class="badge bg-label-secondary p-2"><i class="bx bx-dollar text-secondary"></i></span>
              </div>
              <div>
                <h6 class="mb-0">$4.2k</h6>
                <small>Paypal</small>
              </div>
            </div>
          </div>
          <div id="totalBalanceChart" class="border-bottom mb-3"></div>
          <div class="d-flex justify-content-between">
            <small class="text-muted">You have done <span class="fw-medium">57.6%</span> more sales.<br>Check your new
              badge in your profile.</small>
            <div>
              <span class="badge bg-label-warning p-2"><i
                  class="bx bx-chevron-right text-warning scaleX-n1-rtl"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Total Balance -->
  </div>

</div>


<!-- / Content -->

{% endblock %}
